{{- $bg := .Params.background | default "secondary" -}}
{{- if .Params.particles }}
  {{- .page_scratch.Add "js" "hero.js" }}
{{- end }}

{{ "<!-- hero -->" | safeHTML }}
<main>
  <section class="hero-slideshow">
    <div class="swiper-container">
      <ul class="swiper-wrapper">
        {{- range .Params.heroes }}
          {{/* Global resource fallback - can also be used within loops */}}
          {{- $image := .image -}}
    
          {{/* Do not change the following snippet */}}
          {{/* Code is duplicated throughout the code */}}
          {{- $.root.Scratch.Set "image" (printf "images/%s" $image) -}}
          {{/* Page specific resource */}}
          {{- $location := (printf "%s/%s" $.fallthrough.page_path $image) -}}
          {{- if (fileExists (printf "content/%s" $location)) -}}
            {{/* special case index: trim _index/ from url */}}
            {{- $.root.Scratch.Set "image" $location -}}
          {{- end -}}
    
          {{/* Fragment specific resource */}}
          {{- $location := (printf "%s/%s" $.fallthrough.file_path $image) -}}
          {{- if (fileExists (printf "content/%s" $location)) -}}
            {{/* special case index: trim _index/ from url */}}
            {{- $.root.Scratch.Set "image" $location -}}
          {{- end -}}
          {{/* End of do not change */}}
          <li class="swiper-slide">
            <div style="background-image:url({{ $.root.Scratch.Get "image" | relURL }})"
              class="background-img">
              <div class="overlay">
                <div class="hero-contact">
                  <h2>{{ .heading }}</h2>
                  <p>{{ .subtext_top }}</p>
                  <p>{{ .subtext_bottom }}</p>
                </div>
              </div>
            </div>
          </li>
        {{- end }} 
      </div>
    </div>
    <nav class="cta-social">
      {{ with .Site.Params.social }}
      <a href="https://www.facebook.com/{{.}}" class="social-icon facebook" target="_blank" rel="noopener">
        {{ $facebok := resources.Get "img/facebook.svg" | minify }}
        <img src="{{ $facebok.Permalink }}" alt="Connect with us on Facebook">
      </a>
      <a href="https://www.instagram.com/{{.}}" class="social-icon instagram" target="_blank" rel="noopener">
        {{ $instagram := resources.Get "img/instagram.svg" | minify }}
        <img src="{{ $instagram.Permalink }}" alt="Connect with us on Instagram">
      </a>
      {{ end }}
      <a href="tel:+18002057859" class="social-icon tel" target="_blank" rel="noopener">
        {{ $phone := resources.Get "img/phone.svg" | minify }}
        <img src="{{ $phone.Permalink }}" alt="Call us">
      </a>
    </nav>
  </section>
</main>