{{- $bg := .Params.background | default "secondary" -}}
{{- .page_scratch.Add "js" "hero.js" }}

{{ "<!-- hero -->" | safeHTML }}
<main>
  <section class="hero-slideshow">
    <div class="swiper-container">
      <ul class="swiper-wrapper">
        {{- range .Params.heroes }}
          <li class="swiper-slide">
            {{ $hero_image := resources.Get .image }}
            <div style="background-image:url({{ $hero_image.Permalink }})"
              class="background-img">
              <div class="overlay">
                <div class="hero-contact">
                  <h2>{{ .heading }}</h2>
                  <p>{{ .subtext_top }}</p>
                  <p>{{ .subtext_bottom }}</p>
                </div>
              </div>
            </div>
          </li>
        {{- end }} 
      </div>
    </div>
    <nav class="cta-social">
      {{ with .Params.social }}
        <a href="https://www.facebook.com/{{.}}" class="social-icon facebook" target="_blank" rel="noopener">
          {{ $facebok := resources.Get "img/facebook.svg" | minify }}
          <img src="{{ $facebok.Permalink }}" alt="Connect with us on Facebook">
        </a>
        <a href="https://www.instagram.com/{{.}}" class="social-icon instagram" target="_blank" rel="noopener">
          {{ $instagram := resources.Get "img/instagram.svg" | minify }}
          <img src="{{ $instagram.Permalink }}" alt="Connect with us on Instagram">
        </a>
      {{ end }}
      <a href="tel:+18002057859" class="social-icon tel" target="_blank" rel="noopener">
        {{ $phone := resources.Get "img/phone.svg" | minify }}
        <img src="{{ $phone.Permalink }}" alt="Call us">
      </a>
    </nav>
  </section>
</main>